acorn
acorn-jsx
ajv
anymatch
balanced-match
binary-extensions
brace-expansion
braces
chokidar
cross-spawn
debug
deep-is
escape-string-regexp
@eslint
eslint
@eslint-community
eslint-scope
eslint-visitor-keys
espree
esquery
esrecurse
estraverse
esutils
fast-deep-equal
fast-json-stable-stringify
fast-levenshtein
file-entry-cache
fill-range
find-up
flat-cache
flatted
glob-parent
has-flag
@humanfs
@humanwhocodes
ignore
ignore-by-default
imurmurhash
is-binary-path
isexe
is-extglob
is-glob
is-number
json-buffer
json-schema-traverse
json-stable-stringify-without-jsonify
keyv
levn
locate-path
minimatch
ms
natural-compare
nodemon
normalize-path
optionator
path-exists
path-key
picomatch
p-limit
p-locate
prelude-ls
pstree.remy
punycode
readdirp
semver
shebang-command
shebang-regex
simple-update-notifier
supports-color
to-regex-range
touch
type-check
@types
undefsafe
uri-js
which
word-wrap
yocto-queue
ans.tmp.md
this.tmp.txt
